<div class="bg">
    <mat-grid-list cols="4" rowHeight="fit" style="height:200px" gutterSize="10px">
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Cabin 1
                </mat-card-title>
                <mat-card-content>
                    This is the card content
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button>Book Now</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Cabin 2
                </mat-card-title>
                <mat-card-content>
                    This is the card content
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button>Book Now</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Cabin 3
                </mat-card-title>
                <mat-card-content>
                    This is the card content
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button>Book Now</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Cabin 4
                </mat-card-title>
                <mat-card-content>
                    This is the card content
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button>Book Now</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>




