<mat-toolbar color="primary">
    <span> <a routerLink="/home">Pohkari Cottage</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/allmenu">All Menu</a>
    <a mat-button routerLink="/addmenu">Add Menu</a>
    <a mat-button routerLink="/ordermenu">Order Menu</a>
    <a mat-button routerLink="/trackby">TracBy</a>
    <a mat-button routerLink="/grandparent">Grand Parent</a>
    <a mat-button routerLink="/concatmap">concatMap</a>
    <a mat-raised-button color="accent" routerLink="">Sign Up</a>
  </mat-toolbar>